<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{title}}</title>
  <style type="text/css">
    {{{style}}}
  </style>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/highlight.js/9.6.0/styles/atom-one-dark.min.css">
</head>
<body>
    {{{slideshow}}}
<script>
    {{{script}}}
</script>
</body>
</html>
