@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

img {
  max-width: 100%
}

.slide {
  background-color: #222;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
